# AI Tutor

1. Install and Import Gradio
2. Create .env variable and add OpenAI sk
3. Import OpenAI API code snips
4. Load the SS question files as dataframe
    - Output of dataframe 
5. Response functionality should refer to questions in the SS question file
    - The bot should be able to read the file in the 
6. Save responses or csv in txt and use as context for sessions future
7. Prompts engineering should be used to build a very very very good Python Data Science Tutor
    - Preload the tutor wi/Datascienceth Python docu (future feature...use store memory and context in vector database?)mentation
    - Preload the tutor with Data science documentation
    - Tutor should be able to create a game
8. Chatbot buttons
    - Test me : uses database levels 1, 2, 3
    - Track my progress: chatbot checks answer submission and judges if you got answer right or wrong
    - Python flash cards built-in functionality

In [1]:
# Install and Import Gradio, Pandas, Altair, Matplotlib, Os, and OpenAI (put this in "bot_libs.py" file and import it in one line as "import bot_libs" )
import gradio as gr
import pandas as pd
import altair
import matplotlib as plt
import os
import openai

## Question Database
Loading questions into script

In [ ]:
from pathlib import Path #read in txt files for clean bot 
system_context = Path('question clean prompt.txt').read_text()

# Read question database
question_df = pd.read_csv('SS questions.csv')

# # Cleaning df (removing rows with #NAME?)
# question_df = question_df[(question_df != '#NAME?').all(axis=1)]

# Use GPT to clean the data

def column_clean_bot(prompt):
    # openai.api_key = os.getenv("OPENAI_API_KEY") ##This isn't working for some reason 
    openai.api_key = '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'
    messages = [{'role': 'system', 'content': system_context }]
    messages.append({'role': 'user', 'content': prompt})
    

    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=1, #play with temp to get more factual responses
        max_tokens=500,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0
    )
    
    print(response) #print this in the CLI or notebook. This helps with understanding how the response json is structured for further customization
    system_message = response['choices'][0]['message']['content'] #this is parsing the json file that is the response reponse. you take the first item in choices list (a list of dictionaries), go to message key, and then go to content key 
    messages.append(({'role':'assistant', 'content': system_message})) 
    messages = [] #this works as a reset to keep the conversation history clear when using in a loop
    return system_message


for index in range(len(question_df['question'])):
    entry = question_df['question'][index]
    
    if entry == '#NAME?':
        # at the index pick out the question short and python hint, save as variables
        question_short = question_df['question_short'][index]  # replace 'question_short' with your actual column name
        python_hint = question_df['python_hint'][index]  # replace 'python_hint' with your actual column name

        # insert those variables into multiline string that inserts variables into the string. save this multiling string as a variable
        multiline_string = f'''
        QUESTION SHORT:
        {question_short}
        
        PYTHON HINT:
        {python_hint}
        
        QUESTION:
        '''

        # insert multiline string variable into prompt of column_clean_bot
        cleaned_entry = column_clean_bot(multiline_string)

        # save clean bot's guess as the new entry at this index
        question_df['question'][index] = cleaned_entry

In [109]:
question_df.to_csv('question_df.csv', index=False)
level_1_df = question_df[question_df['difficulty']== 1]
level_1_df

,question_short,question,difficulty,hint,solution,python_difficulty,python_output_type,python_hint,python_solution
14,Salaries Differences,"-- Calculate the difference in salaries for each employee.\n-- Output the employee name, job title, and the salary difference.\n-- Sort the result based on the salary difference in descending order.",1,#NAME?,SELECT\n ABS((SELECT max(salary)\n FROM db_employee emp\n JOIN db_dept dept ON emp.department_id = dept.id\n WHERE department = 'marketing') -\n (SELECT max(salary)\n FROM db_employee emp\n JOIN db_dept dept ON emp.department_id = dept.id\n WHERE department = 'engineering')) AS salary_difference,1,pandas.DataFrame,#NAME?,"def solution(db_employee,db_dept):\n import pandas as pd\n import numpy as np\n \n df = pd.merge(db_employee, db_dept, how = 'left',left_on = ['department_id'], right_on=['id'])\n df1=df[df[""department""]=='engineering']\n df_eng = df1.groupby('department')['salary'].max().reset_index(name='eng_salary')\n df2=df[df[""department""]=='marketing']\n df_mkt = df2.groupby('department')['salary'].max().reset_index(name='mkt_salary')\n result = abs(pd.DataFrame(df_mkt['mkt_salary'] - df_eng['eng_salary']))\n result.columns = ['salary_difference']\n result\n return result"
20,Finding Updated Records,-- Find the updated records for employees.\n-- The dataset contains multiple years of data for some employees.\n-- Assume that the highest salary for each employee is their current salary.\n-- Output all the details of the employees with the correct salary.,1,"- Ideally this dataset should consists of unique records of employees for only current year\n - There are multiple years of data can be found for some employees\n - Until now at every compensation revision cycle, all employees have received a salary increase so you can assume that the highest salary is the employee's current salary. Use a max() function to find the highest salary for each employee.\n - The output should be all the details of all the employees with correct salary","SELECT id,\n first_name,\n last_name,\n department_id,\n max(salary)\n FROM ms_employee_salary\n GROUP BY id,\n first_name,\n last_name,\n department_id\n ORDER BY id ASC",1,pandas.DataFrame,"- Ideally this dataset should consists of unique records of employees for only current year\n - Due to this ETL error multiple years of data can be found for some employees\n - Until now at every compensation revision cycle, all employees have received a salary increase so you can assume that the highest salary is the employee's current salary. Use a max() function to find the highest salary for each employee.\n - The output should be all the details of all the employees with correct salary","def solution(ms_employee_salary):\n import pandas as pd\n import numpy as np\n \n result = ms_employee_salary.groupby(['id','first_name','last_name','department_id'])['salary'].max().reset_index().sort_values('id')\n return result"
34,Find all inspections which are part of an inactive program,-- Retrieve all inspections that are associated with an inactive program.\n-- Display the inspection details including the program status.\n-- Filter the inspections based on the program status being 'INACTIVE'.,1,- Inactive programs have the value 'INACTIVE' for the program_status column.,SELECT\n *\n FROM\n los_angeles_restaurant_health_inspections\n WHERE \n program_status = 'INACTIVE',1,pandas.DataFrame,- Select specific column/s from dataframe using [column_anme] then select rows with value equal to ‘==’ INACTIVE,def solution(los_angeles_restaurant_health_inspections):\n import pandas as pd\n import numpy as np\n \n result = los_angeles_restaurant_health_inspections[los_angeles_restaurant_health_inspections['program_status'] == 'INACTIVE']\n return result
39,European and Non-European Olympics,"-- Add a column to each row which will classify Olympics that athlete is competing in as 'European' or 'NonEuropean' based on the city it was hosted. Output all details along with the corresponding city classification.\n \n -- European cities are Athina, Berlin, London, Paris, Albertville and Lillehammer.",1,"- European cities: Athina, Berlin, London, Paris, and Lillehammer.\n - Use the IN statement to find records with a matching value to the city list.\n - Use the formula CASE WHEN ... THEN 1 ELSE 0 END to classify Olympics.","SELECT\n *,\n (CASE\n WHEN city IN ('Athina', 'Berlin', 'London', 'Paris', 'Lillehammer', 'Albertville') \n THEN 'European'\n ELSE 'NonEuropean' END) AS city_classification\n FROM olympics_athletes_events",1,pandas.DataFrame,"- Define or create a list containing the european cities to select then use .isin(cities_list) to filter rows if it is in the defined list otherwise use with tilde '~' to get those not in the cities_list\n - Use np.select(condition,result) to apply an If Else condition to the dataframe by defining a variable containing conditions that need to be met (If is in cities_list, if not in cities_list) and another variable containing the results (European, NonEuropean)","def solution(olympics_athletes_events):\n import pandas as pd\n import numpy as np\n \n europe = ['Athina', 'Berlin', 'London', 'Paris', 'Lillehammer', 'Albertville']\n condlist = [olympics_athletes_events['city'].isin(europe), ~olympics_athletes_events['city'].isin(europe)]\n choicelist = ['European', 'NonEuropean']\n olympics_athletes_events['city_classification'] = np.select(condlist, choicelist)\n result = olympics_athletes_events\n \n return result"
40,Order all countries by the year they first participated in the Olympics,"-- Determine the year in which each country first participated in the Olympics.\n-- Order the countries based on the year they first participated, from the earliest to the latest.",1,- Use the MIN() function to find the first year a country participated in the Olympics.\n - Group records by the NOC.,"SELECT\n noc,\n min(year) AS first_time_year\n FROM olympics_athletes_events\n GROUP BY \n noc\n ORDER BY \n first_time_year,\n noc",1,pandas.DataFrame,"- Use .groupby(column_name) to group the dataframe about the specifed column and use min() to return the smallest values per group\n - Convert the resulting object to a dataframe using to_frame()\n - Use sort_values(column_name, order) to sort along a specified column;","def solution(olympics_athletes_events):\n import pandas as pd\n import numpy as np\n \n result = olympics_athletes_events.groupby(['noc'])['year'].min().to_frame('first_time_year').reset_index().sort_values(['first_time_year','noc'])\n return result"
41,Total Cost Of Orders,"-- Find the total cost of each customer's orders. Output customer's id, first name, and the total order cost. Order records by customer's first name alphabetically.",1,- Use the SUM() function to find the total cost.\n - Use JOIN on customer id to combine records from both tables.\n - Group records by the customer's first name.,"SELECT customers.id,\n customers.first_name,\n SUM(total_order_cost)\n FROM orders\n JOIN customers ON customers.id = orders.cust_id\n GROUP BY customers.id,\n customers.first_name\n ORDER BY customers.first_name ASC;",1,pandas.DataFrame,"- Perform inner join on orders and customers using pd.merge(dataframe1, dataframe2, on = common_table_keys)\n - Use .groupby(column_name) to group the dataframe about the specifed column then use sum() to get the total of order_cost","def solution(customers, orders):\n import pandas as pd\n import numpy as np\n \n merge = pd.merge(customers, orders, left_on=""id"", right_on=""cust_id"")\n merge = (\n merge.groupby([""cust_id"", ""first_name""])[""total_order_cost""].sum().reset_index()\n )\n result = merge.sort_values(by=""first_name"", ascending=True)\n return result"
46,Bikes Last Used,"-- Find the last time each bike was in use. Output both the bike number and the date-timestamp of the bike's last use (i.e., the date-time the bike was returned). Order the results by bikes that were most recently used.",1,#NAME?,"SELECT bike_number,\n max(end_time) last_used\n FROM dc_bikeshare_q1_2012\n GROUP BY bike_number\n ORDER BY last_used DESC",1,pandas.DataFrame,#NAME?,"def solution(dc_bikeshare_q1_2012):\n import pandas as pd\n \n result = dc_bikeshare_q1_2012.groupby('bike_number')['end_time'].max().to_frame( 'last_used').reset_index().sort_values(by='last_used', ascending=False)\n \n return result"
50,Gender With Most Doctor Appointments,-- Find the gender with the highest number of doctor appointments.\n-- Output only the gender with the highest number of appointments.\n-- Sort the result based on the number of appointments in descending order.\n-- Display only the top result.,1,- Use a GROUP BY gender and a count() to get the total appointments by gender\n - Sort by highest number of appointments using an ORDER BY\n - LIMIT 1 to get the highest number,"SELECT gender,\n count(appointmentid) AS n_appointments\n FROM medical_appointments\n GROUP BY gender\n ORDER BY n_appointments DESC\n LIMIT 1",1,pandas.DataFrame,"- Use .groupby(column_name) to group the dataframe my gender then use size() to get count of elements per group\n - Convert the resulting object to a dataframe using to_frame()\n - Use sort_values(column_name, order) to sort along a specified column; Set order to False to display the printed values in descending order \n - Limit rows to be printed by specifying n in head (n = 1)","def solution(medical_appointments):\n import pandas as pd\n import numpy as np\n \n \n result = medical_appointments.groupby('gender').size().to_frame('total').reset_index().sort_values('total', ascending = False).head(1)\n return result"
52,Number Of Records By Variety,-- Find the number of records for each variety in the dataset.\n-- Output the result along with the corresponding variety name.,1,#NAME?,"SELECT variety,\n count(variety) n_total_varieties\n FROM iris\n GROUP BY variety\n ORDER BY variety",1,pandas.DataFrame,#NAME?,def solution(iris):\n import pandas as pd\n \n result = iris.groupby(['variety'])['sepal_length'].count().reset_index().sort_values(by='variety')\n \n return result
53,Total Number Of Housing Units,-- Find the total number of housing units for each year.\n-- Calculate the running sum of housing units per year.\n-- Output the result along with the year.\n-- Sort the result based on the year.,1,#NAME?,"SELECT year,\n SUM(south + west + midwest + northeast) AS n_units\n FROM housing_units_completed_us\n GROUP BY 1\n ORDER BY 1",1,pandas.DataFrame,"- Convert south, west, midwest, northeast to integer using astype()\n - Create a column containing the sum of south, west, midwest, northeast\n - Group by year using groupby() and use transform() with sum() to get the running sum of housing per group or year\n - Remove duplicates by using drop_duplicates() then use [[column_name]] to select desired columns to be kept\n - sort along reviewer_score using sort_values()","def solution(housing_units_completed_us):\n result = housing_units_completed_us.groupby('year')['south','west','midwest','northeast'].sum().reset_index()\n result['total'] = result['south'] + result['west'] + result['midwest'] + result['northeast'] \n result = result[['year', 'total']]\n return result"
54,Reviews of Hotel Arena,"-- Find the number of rows for each review score earned by 'Hotel Arena'. Output the hotel name (which should be 'Hotel Arena'), review score along with the corresponding number of rows with that score for the specified hotel.",1,#NAME?,"SELECT hotel_name,\n reviewer_score,\n count(*)\n FROM hotel_reviews\n WHERE hotel_name = 'Hotel Arena'\n GROUP BY hotel_name,\n reviewer_score",1,pandas.DataFrame,#NAME?,"def solution(hotel_reviews):\n import pandas as pd\n import numpy as np\n \n arena = hotel_reviews[hotel_reviews['hotel_name'] == 'Hotel Arena']\n result = arena.groupby(['reviewer_score','hotel_name']).size().to_frame('n_reviews').reset_index()\n return result"
56,Total AdWords Earnings,-- Find the total AdWords earnings for each business type.\n-- Output the maximum earnings per business type.,1,- Use a sum() function and GROUP BY to find the total earnings by business type,"SELECT \n business_type, \n sum(adwords_earnings) as earnings\n FROM google_adwords_earnings\n GROUP BY business_type;",1,pandas.DataFrame,"- Create a column containing the running sum per group by grouping the dataframe according to business_type using groupby() and using transform() with sum()\n - From here, group by again business_type then use max() of the running sum to get the maximum value per group",def solution(google_adwords_earnings):\n import pandas as pd\n import numpy as np\n \n result = google_adwords_earnings.groupby(['business_type'])['adwords_earnings'].sum().reset_index()\n \n return result
58,Number Of Acquisitions,"-- Find the number of acquisitions made by each company.\n-- Exclude rows where the acquirer permalink is null.\n-- Sort the result based on the acquirer permalink.\n-- Remove any duplicates in the acquirer permalink column.\n-- Create a column that contains the count of acquisitions per quarter, starting from 1.\n-- Output the acquirer permalink and the count of acquisitions per quarter.\n-- Sort the results based on the acquirer permalink.",1,#NAME?,"SELECT acquired_quarter,\n count(id) AS cnt_acq\n FROM crunchbase_acquisitions\n GROUP BY acquired_quarter\n ORDER BY cnt_acq DESC",3,pandas.DataFrame,"- Filter out rows by selecting specific column/s from dataframe using [column_name] then select rows acquirer_permalink that are not null using notnull()\n - Sort according to acquirer_permalink by using sort_values() then remove duplicates using drop_duplicates(); \n - After which, create a column that countains the count per acquired_quarter by using np.arange(len(df))+1\n - Use [[column_name]] to select desired columns to be kept and sort again along acquirer_permalink","def solution(crunchbase_acquisitions):\n crunchbase_acquisitions['quarter_year'] = crunchbase_acquisitions['acquired_quarter'].dt.year.astype(str) + '-Q' + crunchbase_acquisitions['acquired_quarter'].dt.quarter.astype(str)\n result = crunchbase_acquisitions.groupby('quarter_year').size().to_frame('size').reset_index().sort_values('size', ascending = False)\n return result"
60,Rank guests based on their ages,-- Rank guests based on their ages in ascending order.\n-- Output the result along with the guest names.\n-- Sort the result based on the ranking.,1,- Use the combination of RANK() OVER() functions to order records by the age in descending order and retrieve the rank.,"SELECT \n guest_id,\n RANK() OVER(ORDER BY age DESC)\n FROM airbnb_guests",1,pandas.DataFrame,"- Use .rank(order) to compute for the numerical ranking in a certain order of the column values\n - Use [ [ column_name/s] ] to return a specified column of the dataframe\n - Use sort_values(column_name, order) to sort along a specified column","def solution(airbnb_guests):\n import pandas as pd\n import numpy as np\n \n airbnb_guests['rank'] = airbnb_guests['age'].rank(method='min', ascending = False)\n result = airbnb_guests[['guest_id','rank']].sort_values('rank',ascending = True)\n return result"
63,Find the number of Yelp businesses that sell pizza,-- Find the number of Yelp businesses that sell pizza.,1,- Use the COUNT() function to count the number of businesses.\n - Use the WHERE clause to find records that contain the string pattern '%Pizza%' in the categories column value.,SELECT \n count(*) \n FROM yelp_business \n WHERE categories ilike '%Pizza%',1,NaN,- Use str.contains(pattern) to check if the value is contained within a string\n - Get the count of rows using len(dataframe),"def solution(yelp_business):\n import pandas as pd\n import numpy as np\n \n pizza = yelp_business[yelp_business['categories'].str.contains('Pizza', case = False)]\n result = len(pizza)\n return result"
66,Gender With Generous Reviews,-- Write a query to find which gender gives a higher average review score when writing reviews as guests. Use the `from_type` column to identify guest reviews. Output the gender and their average review score.,1,- JOIN the two tables together and filter for 'guest' in the `from_type` column to find guest reviews only\n - Find the average review based on gender \n - ORDER BY the average review with the highest average review listed first\n - LIMIT 1 to find the gender with the highest average review score\n - Output only the gender and average review score,"SELECT g.gender,\n AVG(review_score) AS avg_score\n FROM airbnb_reviews r\n INNER JOIN airbnb_guests g ON r.from_user = g.guest_id\n WHERE r.from_type = 'guest'\n GROUP BY g.gender\n ORDER BY avg_score DESC\n LIMIT 1",1,pandas.Series,"- Perform inner join using pd.merge(dataframe1, dataframe2, on = common key)\n - Filter specific column/s from dataframe using [column_name] then select rows with values equal to ‘==’ guest\n - Use .groupby(column_name) on gender to group the dataframe about the specifed column and use mean() to get the average per group; Convert the resulting object to a dataframe using to_frame('column_name')\n - Select the gender with the highest average score using max() and ['column_name'] to return only the gender column","def solution(airbnb_reviews,airbnb_guests):\n import pandas as pd\n import numpy as np\n \n merged = pd.merge(airbnb_reviews,airbnb_guests, left_on = 'from_user', right_on = 'guest_id')\n merged = merged[merged['from_type'] == 'guest']\n group = merged.groupby(['gender'])['review_score'].mean().to_frame('avg_score').reset_index()\n result = group[group['avg_score'] == group['avg_score'].max()]\n return result"
71,Find players who participated in the Olympics representing more than one team,-- Identify the players who have participated in the Olympics representing more than one team. \n-- Output a list of these players.,1,- Multi-team players have value in the format of 'country1/country2' for the team column.\n - Use the ILIKE operator on the column team for the string pattern '%/%' to find players who represented more than one team.,"SELECT\n name, \n team,\n games, \n sport,\n medal\n FROM olympics_athletes_events\n WHERE \n team ILIKE '%/%'",2,pandas.DataFrame,"- Select all rows containing ""/"", which represents multiple teams, using str.contains(pattern) to return values containing the pattern\n - Use [ [ column_name/s] ] to return a specified column of the dataframe","def solution(olympics_athletes_events):\n import pandas as pd\n import numpy as np\n \n result = olympics_athletes_events[olympics_athletes_events['team'].str.contains('/')][['name','team','games','sport','medal']]\n return result"
77,Even-numbered IDs Hired in June,-- Find the employees who were hired in the month of June and have even-numbered IDs.\n-- Output the employee IDs and other relevant information.,1,"- Extract the month from `joining_date` and filter to June(6).\n - Filter to records divisible by 2, for example in PostgreSQL use `MOD` and in Python use `% 2`.\n \n ### Edge Cases To Consider: \n \n - **Date filter:** Results must be specifically for the month of June.","SELECT *\n FROM worker\n WHERE mod(worker_id, 2) = 0\n AND EXTRACT(MONTH\n FROM joining_date) = 6",1,pandas.DataFrame,"- Extract the month from `joining_date` and filter to June(6).\n - Filter to records divisible by 2, for example in PostgreSQL use `MOD` and in Python use `% 2`.\n \n ### Edge Cases To Consider: \n \n - **Date filter:** Results must be specifically for the month of June.","def solution(worker):\n import pandas as pd\n import numpy as np\n import datetime as dt\n \n worker[""joining_date""] = pd.to_datetime(worker[""joining_date""])\n worker[""joining_month""] = worker[""joining_date""].dt.month\n \n june_df = worker.loc[worker[""joining_month""] == 6, :]\n result = june_df.loc[june_df[""worker_id""] % 2 != 1, :].drop('joining_month',axis = 1)\n \n \n return result"

## Chatbot
This video explained how to use api the best: https://www.youtube.com/watch?v=Si0vFx_dJ5Y

In [107]:
#Tool bot is designed to be the tool-using feature of the chat bot. During the session it will be a second instance of GPT-3.5 that can use tools
#This gives pretty consistent behavior
def tool_bot(prompt, history=[]):
    messages =[
        {"role": "system",
         "content": '''
        You are a hyper intelligent robot that understands context, but your default response is the following:
        
        Resonse: xxxxx
        
        The only words you can use are the words below based on the provided condition below. 
        To be clear, If none of the conditions are met you are to respond with """ xxxxx """. You only respond with the following words when conditions are met. 
        Take your time to think this out.

        Response Word: TEST 
        Condition: user asks to be tested (or any synonym of testing). Only do this when asked explicitly when user asks for a test.

        Response Word: HINT
        Condition: user asks to be given a hint or asks for help (or any synonym of hint)

        Response Word: xxxxx
        Condition: This is the default response when TEST or HINT are not appropriate

        Response Word: LEVEL 1
        Condition: If the user resonds with the numerical level of question they want (in this case """1"""), please issue command """LEVEL 1""". Please read the user input very carefully. If user is returning numbers in context of something calculation or code, please ignore.
        Example user inputs include: """"level 1"""", """ 1 """", "lvl 1", "one", "I'd like level 1" etc

        Response Word: LEVEL 2
        Condition: The user responds with the numerical level of question (in this case  """2""" ). Please read the user input very carefully. If user is returning numbers in context of something calculation or code, please ignore.
        Examples include: """"level 2"""", """ 2 """", "lvl 2", "two", "I'd like level 2" etc

        Response Word: LEVEL 3
        Condition: The user responds with a numerical level of question ( in this case """3"""). Please read the user input very carefully. If user is returning numbers in context of something calculation or code, please ignore.
        Examples include: """"level 3"""", """ 3 """", "lvl 3", "three", "I'd like level 3" etc

     
        
        '''}]
    # openai.api_key = os.getenv("OPENAI_API_KEY") ##This isn't working for some reason 
    openai.api_key = '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'
    
    messages.append({'role': 'user', 'content': f'Here is my question: {prompt}'})#using f string to avoid prompt injections
    
    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=0, #play with temp to get more factual responses
        max_tokens=10,#further limit output
        top_p=0,
        frequency_penalty=0,
        presence_penalty=0
    )
    # print(response) #print this in the CLI or notebook. This helps with understanding how the response json is structured for further customization
    system_message = response['choices'][0]['message']['content'] #this is parsing the json file that is the response reponse. you take the first item in choices list (a list of dictionaries), go to message key, and then go to content key 
    # messages.append(({'role':'assistant', 'content': system_message}))      #dont need this for this bot
    print(system_message)  
    return system_message

#testing tool_bot
prompt = input()
tool_bot(prompt=prompt)

 level 1

LEVEL 1

'LEVEL 1'

In [123]:
#The main chotbot. it will have a nested openai api call in the form of the tool_bot function
# Which will trigger some either grabbing data from questions database
# 
from dotenv import load_dotenv
#may need to repeat commands to ensure that it doesn't deviate from the behavior

#global list of messages. 
messages =[
        {"role": "system","content": """
        You are an data science tutor with 20+ years of experience but you also follow instructions very well. 
        You are speaking to a student who has 0-5 years of experience in the data science field.
        Here are some instructions for you:
        
        1. You will be given access to a question database which has Python questions, answers and 
        hints which vary between 3 levels of difficulty. If user asks you for a question level that is not 1, 2, or 3, then prompt them to give you a level between 1 and 3.
        2. Once you are given the level of the question, you will provide a question. Ask the student to respond with computer code and or non-code answer.
        The user will ask for hint, clarification of the question, or submit an answer. 
        3. When given a code or non-code answer, you will compare the answer to questions from the database and determine. You will show your work and think this out, step by step. Only execute this instruction in context of a coding question given to the user
        if the student got it correct or incorrect and tell them explicitly what they did correctly and incorrectly in the following format:
                
        - Output '''Correct''' if the answer is the same as the answer you have. Show your work, step by step. Think this out, step by step. if answer does not 
        - Output '''Incorrect''' if answer is not correct 

        In the case of a code snippet submitted in response to a question, evaluate if the code would behave the same way as the code 
        provided by the answer key. Use your best judgement.

        4. The student could have questions about a data science topic. Use your vast knowledge in data science and explain it to them. You can ask them if 
        they want a simple or detailed explanationation.
        
        Take as much time as you need to think this out. Think this out very carefully and do not deviate from your role as a data science tutor under no 
        circumstances.

        
        
        """}]
    
def ai_chat(prompt, history):
    
    #should I start with an assistant message to help the user get started?]#list of messages that get passed in to start convo, will also save messages here

    # openai.api_key = os.getenv("OPENAI_API_KEY") ##This isn't working for some reason 
    openai.api_key = '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'
    messages.append({'role': 'user', 'content': f'{prompt}'}) #f string to avoid prompt injection errors from user
  
    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=1, #play with temp to get more factual responses
        max_tokens=500,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0
    )


    tool_response = tool_bot(prompt) #this is another instance of OpenAI (basically another agent) to issue commands
    #initating empty variables for use later:
  
   
    if tool_response == 'TEST':
        print('testing TEST')
        system_message = ('What level would you like? Please choose level 1, 2, or 3.')
        # ask for level between 1 - 3
        # load filtered data frame of question of that level
        # make this the assistant message
    elif tool_response == 'LEVEL 1':
        random_row = level_1_df.sample(n=1)
        question = random_row['question'].to_list()
        hint = random_row['hint'].to_list()
        py_hint = random_row['python_hint'].to_list()
        py_solution = random_row['python_solution'].to_list()
        system_message = f'''Here is your question:
        
        {question[0]}
        
        Please answer to the best of your ability in Python. If you need a hint don't hesistate to ask for one. 
        You can also ask me questions about a certain topic and I will do my best to help you. 
        
        '''
        return system_message#, question, hint, py_hint, py_solution #perhaps storing these as attributes of an object is better?
    elif tool_response == 'HINT':
        # output both code and non-code hints
        system_message = f'''Here is your hint: 

        {hint}

        {py_hint}

        If you have anymore questions let me know, otherwise please submit your answer.
        '''
    # Add a nested "explain bot" functionality? for MVP perhaps best to stick with relying GPT prompt engineering    
    else:
        system_message = response['choices'][0]['message']['content'] #this is parsing the json file that is the response reponse. you take the first item in choices list (a list of dictionaries), go to message key, and then go to content key 
    
    
    print(f'''
    
    MESSAGE: {messages}
    
    RESPONSE:{response}
    
    ''') #print this in the CLI or notebook. This helps with understanding how the response json is structured for further customization
    

   
    
    #if keyword command in system_message, 
    #first assistant message should be what level (and language) do you want?
    #call a function that outputs a random row in questions dataframe based on level (and language)

    
    

    
    messages.append(({'role':'assistant', 'content': system_message}))
    # messages=[] ##to clear memory and reset tokens maybe need to do this after adding save function for chat history and if token count is getting close to 4000. 
    return system_message
    
#gradio interface fxn
# def chatbot(input, history):
#     history = history or []
#     output = ai_chat(input)
#     history.append([input, output])
#     return history
# gr.ChatInterface returns a ui that requires a function that takes two args, user input and a list that is something like user input and bot response
demo = gr.ChatInterface(
    fn=ai_chat, 
    submit_btn = 'Submit', 
    retry_btn = 'Retry',
    clear_btn = 'Clear',
    title = 'AI Tutor',
    #add a save convo button that can create html file that can then be printed like a pdf later
    )

demo.launch()

Running on local URL:  http://127.0.0.1:7930

To create a public link, set `share=True` in `launch()`.

TEST
testing TEST


    MESSAGE: [{'role': 'system', 'content': "\n        You are an data science tutor with 20+ years of experience but you also follow instructions very well. \n        You are speaking to a student who has 0-5 years of experience in the data science field.\n        Here are some instructions for you:\n        \n        1. You will be given access to a question database which has Python questions, answers and \n        hints which vary between 3 levels of difficulty. If user asks you for a question level that is not 1, 2, or 3, then prompt them to give you a level between 1 and 3.\n        2. Once you are given the level of the question, you will provide a question. Ask the student to respond with computer code and or non-code answer.\n        The user will ask for hint, clarification of the question, or submit an answer. \n        3. When given a code or non-code answer, you will compare the answer to questions from the database and determine. You will show your work and think this out, step by step. Only execute this instruction in context of a coding question given to the user\n        if the student got it correct or incorrect and tell them explicitly what they did correctly and incorrectly in the following format:\n                \n        - Output '''Correct''' if the answer is the same as the answer you have. Show your work, step by step. Think this out, step by step. if answer does not \n        - Output '''Incorrect''' if answer is not correct \n\n        In the case of a code snippet submitted in response to a question, evaluate if the code would behave the same way as the code \n        provided by the answer key. Use your best judgement.\n\n        4. The student could have questions about a data science topic. Use your vast knowledge in data science and explain it to them. You can ask them if \n        they want a simple or detailed explanationation.\n        \n        Take as much time as you need to think this out. Think this out very carefully and do not deviate from your role as a data science tutor under no \n        circumstances.\n\n        \n        \n        "}, {'role': 'user', 'content': 'test me'}]

    RESPONSE:{
  "id": "chatcmpl-7jN62OIbe5z5mD8sW8VvHxjeSCs2I",
  "object": "chat.completion",
  "created": 1691047898,
  "model": "gpt-3.5-turbo-0613",
  "choices": [
    {
      "index": 0,
      "message": {
        "role": "assistant",
        "content": "Sure! I'm here to help. What level of difficulty are you looking for in the question? Please enter a number from 1 to 3."
      },
      "finish_reason": "stop"
    }
  ],
  "usage": {
    "prompt_tokens": 444,
    "completion_tokens": 31,
    "total_tokens": 475
  }
}


LEVEL 1

In [ ]:
# Add functionality that tracks tokens and keeps system message, but deletes or summarizes conversation into a few lines, and feeds resets token count back to where it was at beginning of convo.
#FAQ database:
#Save responses, create an openai instance that can read each entry column one at atime (to avoid token limit)
# and categorize commonly asked responses...and save that as a csv for future analysis

#Future functionality:
#Human like responsiveness. randomized delayed timer
#Voice optionality.